<div class="flex bg-white shadow-lg w-full">
  <div class="w-full py-4 px-6">
    <%= form_tag(search_vehicles_path, method: :post) do %>
      <div class="relative">
        <%= text_field_tag :vin, @vin, class: "bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal", placeholder: "enter the VIN number..." %>
        <%= submit_tag "Search", class: "bg-blue-500 hover:bg-blue-800 cursor-pointer text-white font-normal py-3 px-4 rounded focus:outline-none focus:shadow-outline float-right mt-2 absolute", style: "top: -11px; right: -5px;" %>
      </div>
    <% end %>
  </div>
</div>

<div class="flex text-white text-sm font-bold h-12">
  <% if flash[:success].present? %>
    <div class="flex bg-green-500 w-full px-6 py-3" role="alert">
      <p><%= flash[:success] %></p>
    </div>
  <% end %>
</div>


<%= render 'saved_vehicles', vehicles: @saved_vehicles, user: current_user %>

<div id="search_results" class="mt-8 mx-6">
  <%= render 'error_card' if @vehicle.nil? && session[:vin].present? %>
  <%= render 'empty_card' if @vehicle.nil? && session[:vin].blank? %>
  <%= render 'card', vehicle: @vehicle, user: current_user, allow_save: allow_save? if @vehicle %>
</div>
